<div class="caseMain">

    <span class="caseTitle"> Client's Say</span>
    <div class="reviews">
    
        <div style="width: 20%;height: 60%;flex-direction: column;
        display: flex;
        justify-content: center" >
        <div>logo</div>
        <div>Joh Doe</div>
        <p>Lorem ipsum dolor sit amet, consectetur 
             consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur</p>


        </div>
        <div style="width: 20%;height: 60%;flex-direction: column;
        display: flex;
        justify-content: center" >
        <div>logo</div>
        <div>Joh Doe</div>
        <p>Lorem ipsum dolor sit amet, consectetur 
             consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur</p>


        </div> <div style="width: 20%;height: 60%;flex-direction: column;
        display: flex;
        justify-content: center" >
        <div>logo</div>
        <div>Joh Doe</div>
        <p>Lorem ipsum dolor sit amet, consectetur 
             consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur</p>


        </div>
        <div style="width: 20%;height: 60%;flex-direction: column;
        display: flex;
        justify-content: center" >
        <div>logo</div>
        <span>Joh Doe</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
             consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur</p>


        </div>
    </div>

</div>