<div class="aboutUsMain" fxLayout="row" fxLayoutAlign="center center">
    <div class="imageSection">
        <img src="../../../assets/Developer.png" style="width: 100%;height: 100%;" alt="">
    </div>
    <div style="width: 40%;height: 100%;" fxLayout="column" fxLayoutAlign="center center" >
     <div style="width: 95%;height: 50%;" fxLayout="column" fxLayoutAlign="center start">
        <span  class="info" > Hello</span>
        <span class="info"> We are Saptalabz</span>
        <div class="seeButton" fxLayout="row" fxLayoutAlign="center center"  >
            <span class="buttonText" >See Ours Portfolio</span>
        </div>
     </div>
     
    </div> 
</div>