<div class="aboutMain"    >
   <div  class="infoSection"  >
    
         <div class="info"   >
            <span class="infotitle" >Ours Expertise</span>
             <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title class="matCardtitle">Web Apps</mat-card-title>
                  <mat-card-subtitle style="color: #1d3552">We Developed Web apps using various technologies as
                      per requirements </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title style="color: #1d3552">Mobile Apps </mat-card-title>
                  <mat-card-subtitle style="color: #1d3552">We Developed mobile apps using various technologies as
                    per requirements</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
           
              <mat-card class="example-card">
                <mat-card-header style="color: #1d3552">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Static Websites </mat-card-title>
                  <mat-card-subtitle style="color: #1d3552"> We Developed static Websites using various technologies as
                    per requirements</mat-card-subtitle>
                </mat-card-header>
              </mat-card> 
           
        </div>  
      
       
    </div> 
    <div class="imageSection">
        <img src="../../../assets/skills.gif" style="width: 100%;height: 100%;" alt="">
    </div>

</div>