
    .imageSection{
        width: 50%;
        height: 100%;
    }

    .example-card {
        max-width: 400px;
        color:#1d3552;
        background-color: white;
        margin-top: 2%;
        box-shadow: none;
        
      }
      
      .example-header-image {
        background-image: url('../../../assets/expand.png');
        background-size: cover;
      }