.toolbarMain{
  width: 100%;
  height: 100%
}
.websiteName{
    width: fit-content;
    padding: 2%;
    color: #1d3552;
    font-weight: bolder;
    line-height: normal;
    font-style: normal;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.menuItems{
    width: fit-content;
    padding: 2%;
    color: #333333;
    font-weight: 400;
    line-height: normal;
    font-size: medium;
    padding:5%;
    transition: color ease-in 200ms ;
   
   &:hover{
    cursor: pointer;
    color:  #FFC107;
   }
}